// COLOR VARIABLES
$color-primary: #535c68;
$color-primary-dark: #2f3640;


$color-secondary: #f5f6fa;

// FONT VARIABLES
$font-primary: 'Source Sans Pro', sans-serif;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px
}

body {
    font-family: $font-primary;
    font-weight: 300;
    line-height: 1.6;
    background-color: $color-primary-dark;
}

.container {
    display: grid;
    grid-template-rows: 10vh repeat(2, min-content);
    grid-template-columns: repeat(8, minmax(min-content, 22rem));
    justify-content: center;
}