// COLOR VARIABLES
$color-primary: #718093;
$color-primary-dark: #535c68;

// FONT VARIABLES
$font-primary: 'Source Sans Pro', sans-serif;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px
}

body {
    font-family: $font-primary;
    line-height: 1.6;
    background-color: $color-primary;
    margin:15rem 20rem;
}
