.btn:link,
.btn:visited {
  background: $color-primary-dark;
  color: #fff;
  padding: 1rem 4rem;
  text-decoration: none;
  border: 0;
  font-size: 1.5rem;
  font-weight: 400;
  border-radius: 0.6rem;
  transition: all .2s;
}

.btn:hover {
  transform: translateY(-0.2rem);
}

.tools {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-gap: 10rem;
}

.tool {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 4rem;
  justify-self: center;
  justify-items: center;
  text-align: center;
  box-shadow: 0rem 0rem 1.5rem rgba(0, 0, 0, 0.8);
  padding: 1rem 1rem;
  background-color: #dcdde1;
}